.whiteboard {
	cursor: crosshair;
}

.whiteboard-toolbar {
	
}

.whiteboard-button {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	opacity: .6;
	cursor: pointer;
}

.whiteboard-button:not(.selected):hover {
	transform: scale(1.1);
}

.whiteboard-button.selected {
	transform: scale(.5);
}