<div class="row no-gutters">
	<div class="col-md-7 col-lg-8">
		<div ng-style="{background:$ctrl.options.background}">
			<canvas whiteboard class="whiteboard w-100" options="$ctrl.whiteboardOptions"></canvas>
		</div>
		<div class="whiteboard-toolbar noselect d-flex bg-secondary text-white p-1 pt-2">
			<span class="w-100">
				<span class="whiteboard-button mx-2" ng-click="$ctrl.takeScreenshot()">
					<i class="fa fa-camera fa-lg"></i>
				</span>
				<span class="whiteboard-button mx-2" ng-class="{disabled:!$ctrl.whiteboardOptions.board.paths.length && !$ctrl.whiteboardOptions.board.undos.length}" ng-click="$ctrl.whiteboardOptions.board.clear()">
					<i class="fa fa-eraser fa-lg"></i>
				</span>
				<span class="whiteboard-button mx-2" ng-class="{disabled:!$ctrl.whiteboardOptions.board.paths.length}" ng-click="$ctrl.whiteboardOptions.board.undo()">
					<i class="fa fa-undo fa-lg"></i>
				</span>
				<span class="whiteboard-button mx-2" ng-class="{disabled:!$ctrl.whiteboardOptions.board.undos.length}" ng-click="$ctrl.whiteboardOptions.board.redo()">
					<i class="fa fa-repeat fa-lg"></i>
				</span>
			</span>
			<span class="w-100 text-right">
				<span class="whiteboard-button mx-1"
					ng-repeat="color in $ctrl.colors"
					ng-if="color != $ctrl.options.background"
					ng-class="{selected:$ctrl.whiteboardOptions.board.cursor.color == color}"
					ng-style="{background:color}"
					ng-click="$ctrl.whiteboardOptions.board.cursor.color = color">
				</span>
			</span>
		</div>
		<h3 class="text-muted m-3" line-clamp="1" ng-if="$ctrl.sessions.current" ng-bind="$ctrl.sessions.current.topic.name"></h3>
	</div>
	<div class="col-md-5 col-lg-4">
		<div class="bg-light">
			<div class="container noselect pt-2 pb-3">
				<div class="row no-gutters">
					<div class="col-5">
						<div ng-if="$ctrl.time">
							<h4 class="mb-0" ng-bind="$ctrl.time"></h4>
							<topic-rate topic="$ctrl.sessions.current.topic"></topic-rate>
						</div>
					</div>
					<div class="col-7 text-right">
						<div ng-if="$ctrl.sessions.current">
							<span class="btn btn-outline-danger btn-sm mt-2" ng-click="$ctrl.sessions.close()">End Session</span>
						</div>
						<div ng-if="$ctrl.time && !$ctrl.sessions.current">
							<span class="text-muted mt-2">This session has ended.</span>
						</div>
					</div>
				</div>
				<hr>
				<span class="btn" ng-class="'btn-'+($ctrl.microphone ? 'primary' : 'outline-info')" ng-click="$ctrl.toggleMicrophone()">
					<i class="fa" ng-class="'fa-'+($ctrl.microphone ? 'microphone' : 'microphone-slash')"></i>
				</span>
			</div>
		</div>
		<div class="scroll-region" style="max-height:80vh">
			<div class="mb-2" ng-repeat="item in $ctrl.history | orderBy:'$index':true">
				<div ng-switch="item.type">
					<img ng-switch-when="screenshot" class="w-100" ng-style="{background:$ctrl.options.background}" ng-src="{{item.src}}">
				</div>
			</div>
		</div>
	</div>
</div>