.scroll-region {
	box-shadow: 0 0 20px #DDD inset;
	padding: 1em;
	overflow-y: scroll;
}

.whiteboard {
	cursor: crosshair;
}

.whiteboard-button {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	opacity: .6;
	
	&:not(.selected):not(.disabled):hover {
		transform: scale(1.1);
	}
	
	&.selected {
		transform: scale(.5);
	}
	
	&.disabled {
		opacity: .2;
		cursor: default;
	}
}