<div class="row no-gutters">
	<div class="col-md-7 col-lg-8">
		<div ng-if="$ctrl.selectedTool.id == 'draw'">
			<canvas whiteboard class="whiteboard d-block w-100" ng-mouseup=""></canvas>
			<div class="noselect d-flex bg-secondary text-white p-1 pt-2">
				<span class="w-100">
					<span class="whiteboard-button mx-2" ng-click="$ctrl.takeScreenshot()">
						<i class="fa fa-camera fa-fw fa-lg"></i>
					</span>
					<span class="whiteboard-button mx-2" ng-class="{disabled:!$ctrl.board.handle.paths.length && !$ctrl.board.handle.undos.length}" ng-click="$ctrl.board.handle.clear()">
						<i class="fa fa-eraser fa-fw fa-lg"></i>
					</span>
					<span class="whiteboard-button mx-2" ng-class="{disabled:!$ctrl.board.handle.paths.length}" ng-click="$ctrl.board.handle.undo()">
						<i class="fa fa-undo fa-fw fa-lg"></i>
					</span>
					<span class="whiteboard-button mx-2" ng-class="{disabled:!$ctrl.board.handle.undos.length}" ng-click="$ctrl.board.handle.redo()">
						<i class="fa fa-redo fa-fw fa-lg"></i>
					</span>
				</span>
				<span class="w-100 text-right">
					<span class="whiteboard-button mx-1"
						ng-repeat="color in $ctrl.board.colors"
						ng-if="color != $ctrl.board.background"
						ng-class="{selected:$ctrl.board.handle.cursor.color == color}"
						ng-style="{background:color}"
						ng-click="$ctrl.board.handle.cursor.color = color">
					</span>
				</span>
			</div>
		</div>
		<div ng-if="$ctrl.selectedTool.id == 'text'">
			<div class="no-transition"
				style="min-height:75vh"
				text-editor>
			</div>
		</div>
		<span class="btn-group btn-group-lg float-right mt-2 mr-2">
			<span class="btn mx-1" ng-repeat="tool in $ctrl.tools" ng-class="'btn-'+($ctrl.selectedTool == tool ? 'info' : 'outline-info')" ng-click="$ctrl.selectedTool = tool">
				<i class="fa fa-fw" ng-class="'fa-'+tool.icon"></i>
			</span>
		</span>
		<h3 class="text-muted m-3" line-clamp="1" ng-if="$ctrl.sessions.current" ng-bind="$ctrl.sessions.current.topic.name"></h3>
	</div>
	<div class="col-md-5 col-lg-4">
		<div class="bg-light">
			<div class="container noselect pt-2 pb-3">
				<div class="row no-gutters">
					<div class="col-5">
						<div ng-if="$ctrl.time">
							<h4 class="mb-0" ng-bind="$ctrl.time"></h4>
							<topic-rate topic="$ctrl.sessions.current.topic"></topic-rate>
						</div>
					</div>
					<div class="col-7 text-right">
						<div class="mt-2" ng-if="$ctrl.sessions.current">
							<span class="text-success" ng-if="$ctrl.sessions.current.paused && !$ctrl.isPausing()">
								<i class="fa fa-lg fa-pause mr-1"></i>
								<span>Waiting...</span>
							</span>
							<span class="btn btn-outline-secondary" ng-if="!$ctrl.sessions.current.paused" ng-click="$ctrl.togglePause()">
								<i class="fa fa-pause"></i>
							</span>
							<span class="btn btn-outline-success animate-pulse" ng-if="$ctrl.sessions.current.paused && $ctrl.isPausing()" ng-click="$ctrl.togglePause()">
								<i class="fa fa-play"></i>
							</span>
							<span class="btn btn-outline-danger btn-sm mx-2" ng-click="$ctrl.sessions.close()">End Session</span>
						</div>
						<div ng-if="$ctrl.time && !$ctrl.sessions.current">
							<span class="text-muted mt-2">This session has ended.</span>
						</div>
					</div>
				</div>
				<hr>
				<span class="btn mr-2" ng-class="'btn-'+($ctrl.microphone ? 'primary' : 'outline-info')" ng-click="$ctrl.toggleMicrophone()">
					<i class="fa" ng-class="'fa-'+($ctrl.microphone ? 'microphone' : 'microphone-slash')"></i>
				</span>
				<h6 class="text-muted d-inline">
					<span ng-if="$ctrl.microphone">Microphone is enabled</span>
					<span ng-if="!$ctrl.microphone">Microphone is disabled</span>
				</h6>
			</div>
		</div>
		<div class="scroll-region" style="min-height:10vh; max-height:80vh">
			<!--<div class="mb-2" ng-repeat="item in $ctrl.screenshots | orderBy:'$index':true">-->
			<!--	<div ng-switch="item.type">-->
			<!--		<img ng-switch-when="screenshot" class="w-100" ng-style="{background:$ctrl.options.background}" ng-src="{{item.src}}">-->
			<!--	</div>-->
			<!--</div>-->
			<small class="mb-2 d-block" ng-repeat="action in $ctrl.sessions.current.actions | orderBy:'$index':true">
				<span class="text-muted d-inline-block" style="min-width:60px" ng-bind="action.time | date:'h:mm a'"></span>
				<small class="mr-1"><b ng-bind="action.user.name"></b></small>
				<span ng-switch="action.key">
					<span ng-switch-when="join">
						<span>joined the session.</span>
					</span>
					<span ng-switch-when="leave">
						<span>left the session.</span>
					</span>
					<span ng-switch-when="screenshot">
						<span>took a screenshot:</span>
						<img class="w-100" ng-src="{{$ctrl.screenshotPrefix + action.data}}">
					</span>
				</span>
			</small>
		</div>
	</div>
</div>