<!--<div ng-hide="!$ctrl.banners.current" class="text-center text-white pt-2 pb-1" ng-class="'bg-' + ($ctrl.banners.current.type || 'info')" ng-click="$ctrl.banners.close()">-->
<!--	<h5 class="sio-page-heading mb-0" ng-bind="$ctrl.banners.current.message"></h5>-->
<!--	<small class="text-white-50">Tap to dismiss</small>-->
<!--</div>-->
<div ng-swipe-right="$ctrl.leftPage()" ng-swipe-left="$ctrl.rightPage()">
	<div class="bg-light d-flex">
		<!--<h2 line-clamp="1" class="w-100 m-2" ng-if="$ctrl.sessions.current" ng-bind="$ctrl.sessions.current.topic.name"></h2>-->
		<a class="text-center w-100" ng-click="$ctrl.setPage(id)" ng-repeat="id in $ctrl.sessions.current ? $ctrl.sessionPages : $ctrl.menuPages">
			<span class="d-inline-block p-3 w-100" ng-class="$ctrl.isPage(id) ? 'text-brand' : 'text-muted'">
				<i class="fa fa-{{$ctrl.getPage(id).icon}} fa-2x fa-fw no-transition"></i>
				<div class="no-transition">
					<b ng-bind="$ctrl.getPage(id).name"></b>
				</div>
			</span>
		</a>
	</div>
</div>
<ng-view></ng-view>
<div class="pending-backdrop" ng-class="{visible:$ctrl.sessions.pending || $ctrl.prevSession}"></div>
<div class="pending-panel bg-secondary text-white text-center pt-3" ng-if="$ctrl.sessions.pending">
	<if-owned user="$ctrl.sessions.pending.teacher">
		<h2 class="noselect pb-2">Are you ready?</h2>
		<!--<hr class="mb-0">-->
		<div class="py-3 bg-light text-dark">
			<hr class="mt-0">
			<div class="row">
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4">
					<h3 ng-bind="$ctrl.sessions.pending.students[0].name"></h3>
					<h5 class="text-muted">is requesting a session on</h5>
					<h4 class="text-success mb-0"><b ng-bind="$ctrl.sessions.pending.topic.name"></b></h4>
					<topic-rate topic="$ctrl.sessions.pending.topic"></topic-rate>
					<hr>
				</div>
				<div class="col-md-4 text-md-left">
					<div ng-if="$ctrl.sessions.pending.students[0].interests.length">
						<div style="overflow-y:auto; max-height:8em">
							<h5 class="mx-2">Interest<span ng-if="$ctrl.sessions.pending.students[0].length != 1">s</span>:</h5>
							<interest-tag ng-repeat="interest in $ctrl.sessions.pending.students[0].interests" interest="interest"></interest-tag>
						</div>
						<hr class="d-md-none">
					</div>
				</div>
			</div>
			<div class="container">
				<span class="btn btn-primary btn-lg d-block py-3 my-2" ng-click="$ctrl.sessions.accept()">Start Session</span>
				<span class="btn btn-outline-secondary btn-lg d-block my-2" style="opacity:.8" ng-click="$ctrl.sessions.close()">Decline</span>
			</div>
		</div>
	</if-owned>
	<if-owned user="$ctrl.sessions.pending.teacher" invert="true">
		<h2 class="noselect mb-3">Waiting...</h2>
		<!--<hr>-->
		<div class="container my-3">
			<span class="btn btn-outline-light btn-lg d-block my-2" style="opacity:.8" ng-click="$ctrl.sessions.close()">Cancel</span>
		</div>
	</if-owned>
</div>
<div class="rating-panel bg-white pt-3" ng-if="$ctrl.prevSession">
	<h3 class="noselect text-center mb-3">How did it go?</h3>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-6">
				<div class="d-flex text-center">
					<span class="w-100"
						ng-repeat="rating in [1,2,3,4,5]"
						ng-mouseover="$ctrl.mouseRating = rating"
						ng-click="$ctrl.rating.rating = rating">
						<i class="fa-star fa-3x" ng-class="[($ctrl.rating.rating || $ctrl.mouseRating) >= rating ? 'fa' : 'far', 'text-'+($ctrl.rating.rating ? 'warning' : 'muted')]"></i>
					</span>
				</div>
				<div uib-collapse="!($ctrl.rating.rating <= 2)">
					<hr>
					<div class="container">
						<h5>Any comments about <span ng-bind="$ctrl.prevSession.teacher.name"></span>?</h5>
						<span class="text">Your feedback is private, and will only be visible to platform moderators.</span>
					</div>
					<div class="input-group mt-2">
						<textarea class="form-control" placeholder="Type here..." ng-model="$ctrl.rating.comment"></textarea>
					</div>
				</div>
				<hr>
				<div uib-collapse="!$ctrl.rating.rating">
					<span class="btn btn-primary btn-lg py-3 my-3 w-100" ng-click="$ctrl.submitRating()">
						<i class="fa fa-paper-plane mr-1"></i>
						Submit
					</span>
				</div>
				<span class="btn btn-outline-secondary btn-lg my-3 w-100" ng-click="$ctrl.closeRating()">
					Skip Rating
				</span>
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>
</div>