@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700);

@import "util/_scrolling";

$brand-color: #5DB4E8;

:not(.no-transition) {
	transition: .2s ease-out;
	transition-property: background, color, opacity, border, box-shadow, transform, max-width, max-height, border-radius;
}

.no-transition, .no-transition *, .btn * {
	transition: none;
}

html, body {
	overflow-x: hidden;
	width: 100%;
	font-family: "Source Sans Pro", sans-serif;
}

textarea {
	resize: none;
}

.text-brand {
	color: $brand-color !important;
}

.bg-brand, .badge-brand {
	color: white;
	background: $brand-color !important;
}

.clickable, .btn, a {
	cursor: pointer;
}

:disabled {
	cursor: default;
}

// .btn:not(.rounded-circle), .badge:not(.badge-pill), input, select, textarea {
// 	border-radius: 0 !important;
// }

.btn, .form-control, .card {
	border-radius: 1.5em !important;
}

.btn:not(:disabled):hover {
	transform: scale(1.05);
	// opacity: 1;
}

.card {
	box-shadow: 0 3px 0 1px rgba(0,0,0, .1);
}

.fill-space {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.text-thin {
	text-transform: lowercase;
	font-weight: 200;
}

.text-label {
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: bold;
	opacity: .6;
}

::selection {
    background: #222;
    color: #FFF;
}

.noselect {
	cursor: default;
	&::selection, ::selection {
		background: inherit;
		color: inherit;
	}
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #DDD;
    &:hover {
    	background: #CCC;
    }
}
 
::-webkit-scrollbar-thumb {
    background: #AAA;
    &:hover {
    	background: #999;
    }
}
