@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700);

$brand-color: #5DB4E8; ///temp

:not(.no-transition) {
	transition: .2s ease-out;
	transition-property: background, color, opacity, border, box-shadow, transform, max-width, max-height, border-radius;
}

.no-transition, .no-transition * {
	transition: none;
}

:root {
	
}

html, body {
	overflow-x: hidden;
	width: 100%;
	font-family: "Source Sans Pro", sans-serif;
}

textarea {
	resize: none;
}

.clickable, .btn, a {
	cursor: pointer;
}

.btn:not(.rounded-circle), .badge, input, select, textarea {
	border-radius: 0 !important;
}

.btn:hover {
	// transform: scale(1.1);
	opacity: 1;
}

.text-thin {
	text-transform: lowercase;
	font-weight: 200;
}

.text-label {
	text-transform: uppercase;
	font-weight: bold;
	opacity: .6;
}

.text-primary {
	color: $brand-color !important;
}

::selection {
    background: #222;
    color: #FFF;
}

.noselect {
	cursor: default;
}

.noselect ::selection, .noselect::selection {
	background: inherit;
	color: inherit;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #DDD;
}

::-webkit-scrollbar-track:hover {
    background: #CCC;
}
 
::-webkit-scrollbar-thumb {
    background: #AAA;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #999;
}