@import "_bootstrap";
@import "~bootstrap/scss/bootstrap";
@import "_common";

@keyframes logo-animated-start {
	0% {transform: scaleY(0) rotate(-20deg)}
	50% {transform: scaleY(.9) rotate(-5deg)}
}

@keyframes logo-animated-outer {
	0% {transform: rotate(0) scale(.7)}
	50% {transform: rotate(180deg) scale(.8)}
	100% {transform: rotate(360deg) scale(.7)}
}

@keyframes logo-animated-inner {
	0% {transform: scale(.7)}
	40% {transform: scale(1.05)}
	100% {transform: scale(.7)}
}

body {
	background: url(/assets/img/bg-light.jpg) $light;
	background-position: center top;
	// background-size: cover;
}

.display-main {
	font-size: 100px;
	line-height: .5;
}

.logo-animated-large, .logo-animated-large * {
	width: 50vw;
	height: 50vw;
	max-width: 180px;
	max-height: 180px;
}

.logo-animated {
	animation: logo-animated-start 2s ease-in-out;
}

.logo-animated-outer {
	animation: logo-animated-outer 20s linear infinite;
	background: $brand-color;
	box-shadow: 0 0 20px #DDD;
}

.logo-animated-inner {
	animation: logo-animated-inner 8s ease-in-out infinite;
	background: white;
	box-shadow: 0 0 20px #DDD inset;
	border-radius: 50%;
}
