<div class="bg-light pb-1 mb-1">
	<div class="container">
		<div class="input-group input-group-lg">
			<input type="text"
				class="form-control"
				placeholder="Find a topic..."
				focus-if="$ctrl.query || $ctrl.category || true"
				ng-model="$ctrl.query"
				ng-change="$ctrl.updateResults()">
		</div>
	</div>
	<div class="container">
		<h5 class="text-muted mt-2" ng-if="$ctrl.category">
			<span class="badge badge-primary ml-2" ng-bind="$ctrl.category.name" ng-click="$ctrl.setCategory(null)"></span>
		</h5>
	</div>
</div>
<div class="container mb-2">
	<div ng-show="!$ctrl.results && !$ctrl.category">
		<div class="row">
			<div class="col-lg-4">
				<div class="emphasize-left tease-right bg-light px-4 pt-2 pb-1 my-3" ng-repeat="category in $ctrl.categories" ng-click="$ctrl.setCategory(category)">
					<i class="fa fa-2x text-muted float-left ml-3 mr-4" ng-class="'fa-'+category.icon"></i>
					<h3 ng-bind="category.name"></h3>
				</div>
			</div>
			<div class="col-lg-8">
				<div ng-if="$ctrl.favorites.length">
					<hr class="d-lg-none">
					<h4 class="text-muted mt-lg-3">Favorites:</h4>
					<hr ng-if="$ctrl.favorites.length">
					<search-result topic="topic" selected="$ctrl.selected" ng-repeat="topic in $ctrl.favorites | orderBy:'$index':true"></search-result>
				</div>
				<div ng-if="$ctrl.availableTopics.length">
					<hr class="d-lg-none" ng-if="!$ctrl.favorites.length">
					<h4 class="text-muted mt-lg-3">Online right now:</h4>
					<hr ng-if="$ctrl.availableTopics.length">
					<search-result topic="topic" selected="$ctrl.selected" ng-repeat="topic in $ctrl.availableTopics"></search-result>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="$ctrl.results">
		<search-result topic="result" selected="$ctrl.selected" ng-repeat="result in $ctrl.results"></search-result>
		<div ng-show="!$ctrl.results.length">
			<hr>
			<h5 class="text-muted">No results.</h5>
			<hr>
			<span class="btn btn-lg btn-outline-success w-100" ng-click="$ctrl.createTopic()">Create a new topic</span>
		</div>
	</div>
</div>