<label class="text-label">I would like to teach...</label>
<div class="input-group input-group-lg">
	<input type="text" class="form-control" ng-model="$ctrl.topic.name">
</div>
<hr>
<label class="text-label">I can teach this because...</label>
<div class="input-group">
	<textarea class="form-control" ng-model="$ctrl.topic.blurb"></textarea>
</div>
<hr>
<label class="text-label">I will charge...</label>
<div class="d-flex flex-row">
	<div class="input-group">
		<input type="number" class="form-control" ng-model="$ctrl.topic.rate">
	</div>
	<div class="input-group">
		<select class="form-control" ng-model="$ctrl.topic.hourly">
			<option ng-value="true">XP per hour</option>
			<option ng-value="false">XP per session</option>
		</select>
	</div>
</div>
<hr>
<span class="btn btn-primary btn-lg d-block mb-3" ng-click="$ctrl.onSave()">Save</span>
<span class="btn btn-secondary d-block" ng-click="$ctrl.onCancel()">Cancel</span>