<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="card my-2">
				<div class="card-body">
					<loading status="$ctrl.history">
						<div ng-if="!$ctrl.question">
							<h4>We need your help!</h4>
							<hr>
							<span class="text-muted">Find people who match your style by contributing to our question database.</span>
							<hr>
							<span class="btn btn-success d-block" ng-click="$ctrl.createQuestion()">Submit a Question</span>
						</div>
						<div ng-if="$ctrl.question">
							<h4 ng-bind="$ctrl.question.prompt"></h4>
							<hr>
							<div class="btn-group d-flex">
								<span class="btn w-100"
									ng-repeat="option in $ctrl.question.options"
									ng-class="$ctrl.question.answer.selected == $index ? 'btn-primary' : 'btn-outline-primary'"
									ng-click="$ctrl.question.answer.selected = $index"
									ng-bind="option">
								</span>
							</div>
							<div ng-show="$ctrl.question.answer.selected != null">
								<h5 class="text-muted my-3">Importance to me:</h5>
								<div class="btn-group d-flex">
									<span class="btn btn-success text-white btn-lg w-100"
										ng-repeat="rating in [1,2,3,4,5]"
										ng-style="{opacity:.2+.6*(rating/5)}"
										ng-click="$ctrl.question.answer.importance = rating; $ctrl.answerQuestion()"
										ng-bind="rating">
									</span>
								</div>
							</div>
							<hr>
							<div class="text-center text-muted">
								<span class="btn btn-light btn-sm" ng-show="$ctrl.hasPrev()" ng-click="$ctrl.prevQuestion()">
									<i class="fa fa-caret-left mr-2"></i>
									Back
								</span>
								<span class="btn btn-light btn-sm" ng-click="$ctrl.nextQuestion()">
									<span ng-if="!$ctrl.hasNext()">Skip</span>
									<span ng-if="$ctrl.hasNext()">Next</span>
									<i class="fa fa-caret-right ml-2"></i>
								</span>
							</div>
							<hr>
							<span class="text-muted">Answer questions to learn your student style compared to others on the platform.</span>
						</div>
					</loading>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card my-2">
				<div class="card-body">
					<h5>Share your interests to find people you'll enjoy working with:</h5>
					<hr>
					<form ng-submit="$ctrl.interests.add($ctrl.newInterest); $ctrl.newInterest = null">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="New interest..." ng-model="$ctrl.newInterest">
							<!--<div class="input-group-append">-->
							<!--	<button class="btn btn-primary" ng-disabled="!$ctrl.newInterest"><i class="fa fa-caret-right"></i></button>-->
							<!--</div>-->
						</div>
					</form>
					<div class="mt-2" style="overflow-y:auto; max-height:10em">
						<interest-tag interest="interest" ng-repeat="interest in $ctrl.user.interests"></interest-tag>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>