<div class="container pt-3">
	<topic-edit topic="$ctrl.editing" on-save="$ctrl.saveTopic(topic)" on-cancel="$ctrl.editing = null" ng-if="$ctrl.editing"></topic-edit>
	<div ng-hide="$ctrl.editing">
		<span class="btn btn-outline-secondary btn-lg d-block" ng-click="$ctrl.startNewTopic()">Create Topic</span>
		<hr>
		<div class="list-hover" ng-repeat="topic in $ctrl.topics" ng-click="$ctrl.editing = topic">
			<div class="row">
				<div class="col-8 col-sm-9 col-md-10">
					<h5 line-clamp="1" ng-bind="topic.name"></h5>
					<topic-rate topic="topic"></topic-rate>
				</div>
				<div class="col-4 col-sm-3 col-md-2">
					<topic-badges topic="topic" include="['reputation', 'lessons']"></topic-badges>
				</div>
			</div>
			<hr>
		</div>
	</div>
</div>