<content-list title="Question" service="questions">
	<content-item ng-init="question = $parent.item">
		<h5 ng-bind="question.prompt"></h5>
		<div class="d-flex flex-row">
			<span class="badge badge-light mr-2" ng-repeat="option in question.options" ng-bind="option"></span>
		</div>
	</content-item>
	<content-edit ng-init="question = $parent.item">
		<label class="text-label mt-1">Prompt:</label>
		<div class="input-group">
			<input type="text" class="form-control" ng-model="question.prompt">
		</div>
		<!--<hr>-->
		<label class="text-label mt-2">Answer Choices:</label>
		<div class="btn-group d-flex" ng-if="!question.options">
			<span class="btn btn-secondary w-100" ng-click="question.options = ['Yes', 'No']">Yes / No</span>
			<span class="btn btn-success w-100" ng-click="question.options = ['', '']">Custom...</span>
		</div>
		<div class="input-group d-flex" ng-if="question.options">
			<input type="text" class="form-control" ng-repeat="option in question.options track by $index" ng-model="question.options[$index]">
			<div class="form-control-append">
				<span class="btn btn-outline-secondary" ng-click="question.options.push('')"><b>+</b></span>
			</div>
		</div>
	</content-edit>
</content-list>
