<div class="container">
	<div class="row row-eq-height">
		<div class="col-lg-6 my-2">
			<div class="card fill-space">
				<div class="card-body">
					<loading status="$ctrl.history">
						<div ng-if="!$ctrl.question">
							<h4>We need your help!</h4>
							<hr>
							<span class="text-muted">Find people who match your style by contributing to our question database.</span>
							<hr>
							<span class="btn btn-success d-block" ng-click="$ctrl.createQuestion()">
								<i class="fa fa-share-square mr-1"></i>
								Submit a Question
							</span>
						</div>
						<div ng-if="$ctrl.question">
							<h4 ng-bind="$ctrl.question.prompt"></h4>
							<hr>
							<div class="btn-group d-flex">
								<span class="btn w-100"
									ng-repeat="option in $ctrl.question.options"
									ng-class="$ctrl.question.answer.selected == $index ? 'btn-primary' : 'btn-outline-primary'"
									ng-click="$ctrl.question.answer.selected = $index"
									ng-bind="option">
								</span>
							</div>
							<div ng-show="$ctrl.question.answer.selected != null">
								<h5 class="text-muted my-3">Importance to me:</h5>
								<div class="btn-group d-flex">
									<span class="btn btn-lg w-100"
										ng-repeat="rating in [1,2,3,4,5]"
										ng-class="'btn-'+(!$ctrl.question.answer.importance || $ctrl.question.answer.importance == rating ? 'success' : 'outline-success')"
										ng-style="{opacity:.2+.6*(rating/5)}"
										ng-click="$ctrl.question.answer.importance = rating; $ctrl.answerQuestion()"
										ng-bind="rating">
									</span>
								</div>
							</div>
							<hr>
							<div class="text-center text-muted">
								<span class="btn btn-light btn-sm" ng-show="$ctrl.hasPrev()" ng-click="$ctrl.prevQuestion()">
									<i class="fa fa-caret-left mr-2"></i>
									Back
								</span>
								<span class="btn btn-light btn-sm" ng-click="$ctrl.nextQuestion()">
									<span ng-if="!$ctrl.hasNext()">Skip</span>
									<span ng-if="$ctrl.hasNext()">Next</span>
									<i class="fa fa-caret-right ml-2"></i>
								</span>
							</div>
							<hr>
							<span class="text-muted">Answer questions to learn your style and discover compatible peers.</span>
						</div>
					</loading>
				</div>
			</div>
		</div>
		<div class="col-lg-6 my-2">
			<div class="card fill-space">
				<div class="card-body">
					<h5>Share your interests to find people you'll enjoy working with:</h5>
					<hr>
					<form ng-submit="$ctrl.interests.add($ctrl.newInterest); $ctrl.newInterest = null">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="New interest..." ng-model="$ctrl.newInterest">
							<!--<div class="input-group-append">-->
							<!--	<button class="btn btn-primary" ng-disabled="!$ctrl.newInterest"><i class="fa fa-caret-right"></i></button>-->
							<!--</div>-->
						</div>
					</form>
					<div class="mt-2" style="overflow-y:auto; max-height:10em">
						<interest-tag interest="interest" ng-repeat="interest in $ctrl.user.interests"></interest-tag>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="d-none d-sm-block">
	<div class="row row-eq-height">
		<div class="col-lg-6 my-2">
			<div class="card fill-space">
				<div class="card-body">
					<loading status="$ctrl.wallet">
						<h5>
							Wallet status:
							<small>
								<i class="fa fa-fw" ng-class="'fa-'+(+$ctrl.wallet.balance ? 'check text-success' : 'times text-danger')"></i>
								<span class="text-muted" ng-if="!+$ctrl.wallet.balance">No funds</span>
								<span class="text-muted" ng-if="+$ctrl.wallet.balance">Funded</span>
							</small>
						</h5>
						<hr>
						<div ng-if="!+$ctrl.wallet.balance">
							<span class="btn btn-lg btn-danger d-block mt-2" ng-click="$ctrl.addFunds()">
								<i class="fa fa-rocket mr-2"></i>
								Add Funds
							</span>
						</div>
						<div ng-if="+$ctrl.wallet.balance">
							<div ng-if="!$ctrl.showingBalance">
								<span class="btn btn-light d-block mt-2" ng-click="$ctrl.showingBalance=true">
									<i class="fa fa-caret-down mr-2"></i>
									Show Balance
								</span>
							</div>
							<div ng-if="$ctrl.showingBalance">
								<span class="btn btn-outline-secondary d-block mt-2" ng-click="$ctrl.showingBalance=false">
									<i class="fa fa-caret-right mr-2"></i>
									Hide Balance
								</span>
								<h4 class="text-center my-2">
									<xp-label amount="$ctrl.wallet.balance"></xp-label>
								</h4>
								<hr>
								<span class="btn btn-outline-danger d-block mt-2" ng-click="$ctrl.addFunds()">
									<i class="fa fa-rocket mr-2"></i>
									Add Funds
								</span>
							</div>
						</div>
						<!--<hr>-->
						<!--<span class="btn btn-outline-secondary d-block mt-2">Payment Options</span>-->
					</loading>
				</div>
			</div>
		</div>
		<div class="col-lg-6 my-2">
			<div class="card fill-space">
				<div class="card-body">
					<h5>
						<i class="fa fa-user-circle text-muted mr-1"></i>
						<span ng-bind="$ctrl.user.displayName"></span>
					</h5>
					<hr>
					<span class="btn-group d-flex">
						<a class="btn btn-info w-100 mx-1" href="/settings">
							<i class="fa fa-cog mr-1"></i>
							Settings
						</a>
						<span class="btn btn-outline-secondary w-100 mx-1" onclick="location.href = '/logout'">
							<i class="fa fa-sign-out-alt mr-1"></i>
							Sign Out
						</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>