<!DOCTYPE html>
<html>
<head>
<title>Pure Learning :: Login</title>

<%- include('common/head.ejs') %>

</head>
<body>
	<div class="text-center">
		<img class="img-fluid m-3" style="max-width:200px" src="/assets/img/icon-login.png">
	</div>
	<div class="row">
		<div class="col-sm-3 sol-md-4 hidden-xs-down">
		</div>
		<div class="col-sm-6 sol-md-4 sio-content-panel">
			<div class="text-center">
				<hr>
				<h1>Pure Learning</h1>
				<h2>Welcome!</h2>
				<hr>
				<div class="container">
					<a class="btn btn-outline-primary btn-lg d-block my-2" href="/login"><i class="fa fa-google"></i></a>
					<i class="fa fa-caret-up fa-lg text-muted"></i>
					<h3 class="text-muted">Sign in with Google</h3>
				</div>
				<hr class="mb-4">
			</div>
		</div>
		<div class="col-sm-3 sol-md-4 hidden-xs-down">
		</div>
	</div>
</body>
</html>
