<!DOCTYPE html>
<html>
<head>
<title>Pure Learning :: Login</title>

<%- include('common/head.ejs') %>
</head>
<body>
	<div class="row">
		<div class="col-sm-3 sol-md-4 hidden-xs-down">
		</div>
		<div class="col-sm-6 sol-md-4 text-center">
			<div class="text-center my-4">
				<div class="logo-animated-outer logo-animated-large mx-auto">
					<div class="logo-animated-inner">
					</div>
				</div>
			</div>
			<h1 class="title-main pb-5">Pure</h1>
			<div class="text-center">
				<hr>
				<div class="container">
					<a class="btn btn-outline-secondary btn-lg d-block my-2" href="/login"><i class="fa fa-google"></i></a>
					<i class="fa fa-caret-up fa-lg text-muted"></i>
					<h4 class="text-muted">Sign in with Google</h4>
				</div>
				<hr class="mb-4">
			</div>
		</div>
		<div class="col-sm-3 sol-md-4 hidden-xs-down">
		</div>
	</div>
</body>
</html>
