<!DOCTYPE html>
<html>
<head>
<title>Pure Learning | Welcome</title>

<%- include('common/head.ejs') %>

<link rel="stylesheet" href="/bundle/login.css">
<script src="/bundle/login.js"></script>

</head>
<body>
	<div class="row">
		<div class="col-sm-3 sol-md-4 hidden-xs-down">
		</div>
		<div class="col-sm-6 sol-md-4 text-center">
			<div class="text-center my-4">
				<div class="logo-animated logo-animated-large mx-auto">
					<div class="logo-animated-outer">
						<div class="logo-animated-inner">
						</div>
					</div>
				</div>
			</div>
			<div class="mb-4 noselect">
				<h1 class="display-main text-thin text-primary mb-5">Pure</h1>
				<h2 class="text-thin">Learning Platform</h2>
			</div>
			<div class="text-center">
				<hr>
				<div class="container">
					<a class="btn btn-outline-secondary btn-lg d-block my-2" href="/login"><i class="fa fa-google"></i></a>
					<i class="fa fa-caret-up fa-lg text-muted"></i>
					<h4 class="text-muted">Sign in with Google</h4>
				</div>
				<hr class="mb-4">
			</div>
		</div>
		<div class="col-sm-3 sol-md-4 hidden-xs-down">
		</div>
	</div>
</body>
</html>
