<!DOCTYPE html>
<html>
<head>
<title>Platform Pure</title>

<%- include('common/head.ejs') %>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-touch.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-route.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ui-bootstrap4@3.0.5/dist/ui-bootstrap-3.0.5.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ext-language_tools.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/clamp-js-main@0.11.5/clamp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.7/push.min.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script>
var UserData = <%- JSON.stringify(user) %>
var ClientConfig = <%- JSON.stringify(config) %>
</script>

<link rel="stylesheet" href="/bundle/webapp.css">
<script src="/bundle/webapp.js"></script>

</head>
<body>
	<app></app>
</body>
</html>
